body, html {
    height: 100%;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    overflow: hidden;
    background: radial-gradient(circle at top left, rgb(254, 254, 246), rgb(116, 115, 108)), radial-gradient(circle at bottom right, #4B4B4Bff, #181818ff);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
    
    .section {
    position: fixed;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    bottom: 0;
    right: 0;
    width: 90%;
    height: 80vh;
    min-width: 300px; /* Minimum width to maintain responsiveness */
    min-height: 300px; /* Minimum height to maintain responsiveness */
    background-color: transparent;
    overflow: hidden;
    }
    .logo, .logo img {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    z-index: 10;
    }
    
    #tagP {
    z-index: 10;
    font-size: 0.4em;
    color: rgb(0, 0, 0);
    font-family: sans-serif, 'Open Sans';
    text-align: left;
    position: absolute;
    top: 80px;
    left: 85px;
    width: 150px;
    position: absolute;


    }
    
    .section .content {
    padding: 20px;
    }
    
    .section h2 {
        margin-top: 0;
        font-size: 2.5em;
    }
    
    .section p {
    margin-top: 0;
    font-family: sans-serif, 'Open Sans';
    font-size: 16px;
    }
    
    .section .image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 555px;
    }
    
    
    
    #section1 {
    z-index: 3;
    opacity: 1;
    transform: scale(1);
    }
    
    #section2 {
    z-index: 2;
    opacity: 0;
    }
    
    #section3 {
    z-index: 1;
    opacity: 0;
    }
    
    #section4 {
    z-index: 0;
    opacity: 0;
    }